$primary-color: #3b9;
$dark-color: darken($primary-color, 10);

.header-bar {
	color: #fff;
	background: $primary-color;
	box-shadow: 0px 3px 0px $dark-color;

	a {
		color: #eee;
	}
}

.message {
	color: #999;
	margin-left: 10px;
}
