extends ./wrapper.jade

block content
  h1 What Is This?

  .row
    .col-md-6
      p.text-justify.
        This is a web-based utility for uploading files to a given computer. If
        you want to use it for yourself, head over to its
        <a href="http://github.com/crockeo/upload">GitHub</a> page to check out
        its usage instructions. By the by, if you want to help out and
        contribute, then submit a pull request. If it fits with the project,
        then I'll merge it.
