extends ./wrapper.jade

block content
  h1 What Is This?

  .row
    .col-md-6
      p.
        This is a web-based utility for uploading files to a given computer. If
        you want to use it for yourself, head over to its
        <a href="http://github.com/crockeo/upload">GitHub</a> page to check out
        its usage instructions.
